.App {
  text-align: center;
  align-items: center;
}

.wrapper {
  max-width: 940px;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.wrapper > div {
  border: 2px solid rgb(202, 202, 202);
  border-radius: 2px;
  background-color: rgba(194, 194, 194, 0.5);
  color: #918f8f;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  grid-auto-rows: minmax(30px, auto);
  align-items: center;
}


.title {
  grid-column: 1/4;
  grid-row: 1;
}

.one {
  grid-column: 1/4;
  grid-row: 2;
}

.two {
  grid-column: 1/4;
  grid-row: 3;
}

.three {
  grid-column: 1/4;
  grid-row: 4;
}

.four {
  grid-column: 1/4;
  grid-row: 5;
}

.five {
  grid-column: 1/4;
  grid-row: 6;
}

.six {
  grid-column: 1/4;
  grid-row: 7;
}

.seven {
  grid-column: 1/4;
  grid-row: 8;
}

.eigth {
  grid-column: 1/4;
  grid-row: 9;
}

.nine {
  grid-column: 1/4;
  grid-row: 10;
}
